DATABASE_URL="postgresql://neondb_owner:npg_xgbYrpnF4D2z@ep-dark-union-a14gkrqq-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
NEXTAUTH_SECRET="OdEqdSA60oGqNCoPmcq+2bhQZscaQeTYRdQdKK4JWSg="
NEXTAUTH_URL="http://localhost:3000"
GOLD_RATE_PER_GRAM=9500NP