DATABASE_URL=
NEXTAUTH_SECRET=
# For local dev use http://localhost:3000
# For GitHub Codespaces use the full forwarded URL e.g. https://YOUR-CODESPACE-3000.preview.app.github.dev
NEXTAUTH_URL=http://localhost:3000
GOLD_RATE_PER_GRAM=9500
