DATABASE_URL="postgresql://neondb_owner:YOUR_PASSWORD@ep-fragrant-flower-am36on7x-pooler.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require"
NEXTAUTH_SECRET="OdEqdSA60oGqNCoPmcq+2bhQZscaQeTYRdQdKK4JWSg="
NEXTAUTH_URL="http://localhost:3000"
GOLD_RATE_PER_GRAM=9500